.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
  /* min-height: 100vh; */
  max-height: 200vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-right: 30%; */
}

.App-body {
  /* background-color: #8a8a8a; */
}

.App-link {
  color: #61dafb;
}


.flex {
  display: flex;
}